 {% extends 'base.html.twig' %} 

{% block title %}Picture Cropped{% endblock %}

    {% block stylesheets %}
        {{ parent()}}
        {{ encore_entry_link_tags('cropperjs') }}
      {% endblock %}
      
      {% block javascripts %}
          {{ parent()}}
        {{ encore_entry_script_tags('cropperjs') }}
      {% endblock %}
      
      {% block body %}
        <div>
            <img id="image-cropped" src="{{ asset(picture.image) }}" data-id="{{ picture.id }}" >
        </div>
       
        <div class="flex justify-center items-center pt-4">
            <a href= "{{ path('app_picture_intermediate', {'id': picture.id}) }}" class="custom-button-picture block md:inline-block md:w-auto md:px-4 md:py-2 rounded-lg bg-accentcolor font-titlefont" id="save-crop-button">Enregistrer la crop</a>
        </div>
    {% endblock %}



   