{% extends 'base.html.twig' %}

{% block title %}Crop Done{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('intermediatePage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('intermediatePage') }}
{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
        <div class="message">
            <h1 class="text-4xl font-bold mb-4">
                <p>L'image a bien été croppée !</p>
            </h1>
            <p class="text-lg">Vous allez être redirigé dans quelques secondes.</p>
        </div>
        <form id="imageIdForm" method="POST">
            <input type="hidden" name="imageId" id="imageId" value="{{ imageId }}">
        </form>
    </div>
{% endblock %}



   