{% extends 'base.html.twig' %}
{% block title %}Galerie
{% endblock %}
        {% block stylesheets %}
		{{ parent()}}
            {{ encore_entry_link_tags('galery') }}
        {% endblock %}
        {% block javascripts %}
			{{ parent()}}
            {{ encore_entry_script_tags('galery') }}
        {% endblock %}
{%block body %}
	<div id="loading-screen" class="fixed inset-0 w-full h-full bg-black flex justify-center items-center z-40">
    <img src="{{ asset('build/images/loading.gif') }}" alt="Chargement..."/>
</div>
	<section class="galery flex flex-col justify-center items-center overflow-hidden mt-8 mb-8 pt-8 pb-8 transition duration-250 text-white font-subtitlefont bg-backgroundcolor">
		<div class="category-buttons relative mb-5">
  <div class="buttons-container mb-0.5">
    {% for category in categories %}
      <button class="category-button mx-6 last:mr-0 first:ms-0 text-gray-300 transition duration-400 ease-in-out font-titlefont active:text-white hover:opacity-70 " data-category="{{ category }}">
        {{ category }}
      </button>
    {% endfor %}
  </div>
</div>
		<div class="options flex flex-row items-stretch overflow-hidden justify-center min-w-400 max-w-1200 h-128 w-custom-width">
			{% for picture in pictures %}
				<div class="option relative m-2.5 min-w-60 max-w-60 overflow-hidden cursor-pointer" data-category="{{ picture.category }}" style="--optionBackground:url({{ asset(picture.imageCrop ?? picture.image) }}) ;">
					<div class="shadow absolute bottom-0 left-0 right-0"></div>
					<div class="label flex absolute bottom-5 left-5 right-0">
						<a href="{{ path('app_picture_show', {id: picture.id}) }}">
							<div class="icon flex flex-row justify-center items-center rounded-full min-w-40 max-w-40 h-10 bg-gray-300" title="Cliquez ici pour obtenir plus d'information sur l'oeuvre">
								<svg class="w-60 h-60 text-black" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
							</div>
						</a>
						<div class="info flex flex-col justify-center mx-2.5 whitespace-pre text-gray-300">
							<div class="main relative font-bold text-xl">{{ picture.title }}</div>
							<div class="sub relative transition-delay-100">{{ picture.subtitle }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="bullet-navigation flex mt-4">
			{% for picture in pictures %}
				<span data-index="{{ loop.index }}" data-category="{{ picture.category }}"></span>
			{% endfor %}
		</div>
	</section>
	
	<div class="flex justify-center items-center">
	<div class="mx-4"></div>
    <a class="custom-button-picture block md:inline-block md:w-auto md:px-4 md:py-2 rounded-lg bg-accentcolor font-titlefont" type="button" href="{{ path('app_picture_download_pdf') }}">Télécharger la fiche de l'éxposition</a>
</div>

{% endblock %}
