{% extends 'base.html.twig' %}

{% block title %}Picture{% endblock %}
{% block javascripts %}
		        {{ parent()}}
            {{ encore_entry_script_tags('modal') }}
{% endblock %}
{% block body %}
    <div class="picture-details flex flex-col sm:flex-row pt-16 pb-11">
        <div class="picture-image p-5">
            <img class="mx-auto max-h-[35rem] w-auto h-auto shadow-md rounded-md" data-zoom="{{ asset(picture.image)}}" id="my-picture" src="{{ asset(picture.image) }}" alt="{{ picture.title }}">
        </div>
        <hr class="w-0.5 h-auto">
        <div class="picture-info text-white p-8 relative"  id="zoom-img">
          <h3 class="custom-title block font-bold">{{ picture.title }}</h3>
          <span>Date de réalisation : {{ picture.date }}</span>
          <span class="pt-3.5 pb-3.5">Format : {{ picture.size }}</span>
          <p class="text-justify">{{ picture.comment }}</p>
        </div>
    </div>

      <div class="container-button-picture p-2.5 flex justify-center items-center">
        <a class="custom-button-picture block md:inline-block md:w-auto md:px-4 md:py-2 rounded-lg" type="button" href="{{ path('app_picture_index') }}">Autres œuvres</a>
      </div>
<!-- The Modal -->
    <div id="myModal" class="modal overflow-auto hidden fixed z-50 inset-0 flex items-center justify-center pt-100p bg-black bg-opacity-90">>
          <span class="close absolute top-15 right-0 text-white text-4xl font-bold transition duration-300 p-7">&times;</span>
          <img class="modal-content mx-auto w-4/5 sm:w-3/5 md:w-2/3 lg:w-1/2 xl:w-2/5 max-w-screen-lg" id="img-modal">
        <div id="caption" class="m-auto block w-80 max-w-700 text-center text-gray-300 py-2 h-150"></div>
    </div>
{% endblock %}