{% extends 'base.html.twig' %}

{% block title %}Picture{% endblock %}

{% block body %}
    <div class="picture-details">
        <div class="picture-image">
            <img id="myImg" src="{{ asset(picture.image) }}" alt="{{ picture.title }}">
        </div>
        <hr>
        <div class="picture-info">
            <h1>Picture</h1>
            <h3>{{ picture.title }}</h3>
            <span>{{ picture.date }}</span>
            <span>Dessin : {{ picture.size }}</span>
            <p>{{ picture.comment }}</p>
        </div>
    </div>
<div class="container-button-picture">
    <a class="custom-button-picture" type="button" href="{{ path('app_picture_index') }}">Autres  oeuvres</a>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
   
{% endblock %}
