{% extends 'base.html.twig' %}

{% block title %}Prévisualisation du Tweet{% endblock %}

{% block body %}
    <div class="min-h-screen flex flex-col items-center py-12 px-4 sm:px-6 lg:px-8 pt-[15vh]">
        <div class="max-w-md w-full">
            <h1 class="text-center text-white text-2xl font-titlefont font-bold mb-6">Prévisualisation du Tweet</h1>

            <form method="POST" action="{{ path('twitter_hashtag', {id: picture.id}) }}" class="mx-auto bg-white text-black p-6 rounded shadow-md">
            <div class="flex justify-center items-center">
                        <img src="{{ asset(picture.image) }}" alt="{{ picture.title }}" class="w-24 h-auto">
                        </div>
                <label for="hashtags" class="block mb-2 font-semibold font-subtitlefont text-gray-700">Hashtags :</label>
                <input type="text" id="hashtags" name="hashtags" value="{{ hashtags }}" readonly class="w-full px-3 py-2 border font-contentfont rounded text-gray-700 focus:outline-none focus:shadow-outline">
                 <label for="urlPage" class="hidden mt-2 mb-2 font-semibold font-subtitlefont text-gray-700">Lien :</label>
    <textarea id="urlPage" name="urlPage" class="hidden w-full px-3 py-2 border font-contentfont rounded text-gray-700 focus:outline-none focus:shadow-outline" readonly>{{ urlPage }}</textarea>
                <label for="comments" class="block mt-4 mb-2 font-semibold font-subtitlefont text-gray-700">Votre commentaire :</label>
                <textarea id="comments" name="comments" class="w-full px-3 py-2 border font-contentfont rounded text-gray-700 focus:outline-none focus:shadow-outline"></textarea>
                <div class="flex justify-center items-center">
                <input type="submit" value="Tweeter" class="mt-6 bg-accentcolor text-white px-4 py-2 rounded font-titlefont cursor-pointer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
