{% extends 'base.html.twig' %}

{% block title %}Liste des expositions{% endblock %}

{% block body %}
<div class="bg-zinc-200 w-11/12 my-10 mx-auto p-12">
    <h3 class="text-3xl font-bold font-title my-6 ">Expositions</h3>
    <hr class="h-px my-5 bg-stone-950 border-0">

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-gray-700 font-titlefont uppercase bg-gray-100">
                <tr>
                    <th scope="col" class="px-6 py-3">Nom de l'exposition</th>
                    <th scope="col" class="px-6 py-3">Date de début</th>
                    <th scope="col" class="px-6 py-3">Date de fin</th>
                    <th scope="col" class="px-6 py-3">Détails</th>
                    <th scope="col" class="px-6 py-3">Modifier</th>
                </tr>
            </thead>
            <tbody class="font-contentfont">
                {% for exhibition in exhibitions %}
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">{{ exhibition.name }}</td>
                    <td class="px-6 py-4">{{ exhibition.start|date("d-m-Y")}}</td>
                    <td class="px-6 py-4">{{ exhibition.end|date("d-m-Y")}}</td>
                    <td class="px-6 py-4">
                        <a class="hover:text-sky-600 hover:font-bold"
                            href="{{ path('exhibition_show_presentation', {'exhibitionName': exhibition.name}) }}">Voir</a>
                    </td>

                    <td class="px-6 py-4">
                        <a class="hover:text-red-500 hover:font-bold"
                            href="{{ path('app_exhibition_edit', {'id': exhibition.id}) }} ">Modifier</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Aucune exposition à afficher</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button
        class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center mt-5 "><a
            href="{{ path('app_exhibition_new') }}">Créer une nouvelle exposition </a>
    </button>
</div>
{% endblock %}