{% extends 'base.html.twig' %}

{% block title %}Exhibition index{% endblock %}

{% block body %}
    <h1>Exhibition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exhibition in exhibitions %}
            <tr>
                <td>{{ exhibition.id }}</td>
                <td>{{ exhibition.name }}</td>
                <td>{{ exhibition.start ? exhibition.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ exhibition.end ? exhibition.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_exhibition_show', {'id': exhibition.id}) }}">show</a>
                    <a href="{{ path('app_exhibition_edit', {'id': exhibition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exhibition_new') }}">Create new</a>
{% endblock %}
