{% for exhibition in this.getExhibitions() %}
  <li>
    <a href="{{ path('app_picture_index', {'id': exhibition.id}) }}" data-exhibition-id="{{ exhibition.id }}" data-exhibition-name="{{ exhibition.name }}" class="relative block py-2 pl-3 pr-4 text-white rounded hover:opacity-75 {{ app.request.attributes.get('_route') == 'app_picture_index' and app.request.attributes.get('id') == exhibition.id ? 'opacity-75' : '' }}" aria-current="page">
      {{ exhibition.name }}
    </a>
  </li>
{% endfor %}
