{% extends 'adminbase.html.twig' %}

{% block title %}Présentation de l'exposition{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashBag.get('success') %}
        <div class="bg-green-500 text-white px-4 py-2 mb-4 rounded-md">
            {{ flashMessage }}
        </div>
    {% endfor %}
<div class="my-4 mx-auto p-12 md:p-12">
    <h3 class="text-3xl font-bold font-titlefont mt-6 mb-1 ">Présentation de l'exposition :</h3>
    <p class="text-2xl font-subtitlefont italic">{{ exhibition.name }}</p>
    <hr class="h-px my-5 bg-stone-950 border-0">

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-gray-700 font-titlefont uppercase bg-gray-100">
                <tr>
                    <th scope="col" class="px-6 py-3">Titre</th>
                    <th scope="col" class="px-6 py-3">Sous-titre / accroche</th>
                    <th scope="col" class="px-6 py-3">Image</th>
                    <th scope="col" class="px-6 py-3">Modifier</th>
                </tr>
            </thead>
            <tbody class="font-contentfont">
                {% for presentation in presentations %}
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900"> {{ presentation.title }}</th>
                    <td class="px-6 py-4">{{ presentation.subtitle }}</td>
                    <td class="px-6 py-4 w-48">
                        <img class="w-auto h-auto rounded-lg" src="{{ asset(presentation.image) }}">
                    </td>
                    <td class="px-6 py-4">
                        <a class="hover:text-red-500 hover:font-bold"
                            href="{{ path('app_presentation_edit', {'id': presentation.id}) }} ">Modifier</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Aucune présentation à afficher</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="flex justify-between">
        <button
            class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center mt-5"><a
                href="{{ path('app_presentation_new', {'id': exhibition.id}) }}">Créer une nouvelle présentation</a>
        </button>
        <button
            class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center mt-5"><a
                href="{{ path('app_exhibition_index') }}">Retour aux expositions</a>
        </button>
    </div>
</div>
<div class="my-4 mx-auto p-12 md:p-12">
    <h3 class="text-3xl font-bold font-titlefont mb-1 ">Galerie de l'exposition :</h3>
    <p class="text-2xl font-subtitlefont italic">{{ exhibition.name }}</p>
    <hr class="h-px my-5 bg-stone-950 border-0">

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-gray-700 font-titlefont uppercase bg-gray-100">
                <tr>
                    <th scope="col" class="px-6 py-3">Titre</th>
                    <th scope="col" class="px-6 py-3">Sous-titre / accroche</th>
                    <th scope="col" class="px-6 py-3">Image</th>
                    <th scope="col" class="px-6 py-3">Modifier</th>
                    <th scope="col" class="px-6 py-3">Redimensionner</th>

                </tr>
            </thead>
            <tbody class="font-contentfont">
                {% for picture in pictures %}
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900"> {{ picture.title }}</th>
                    <td class="px-6 py-4">{{ picture.subtitle }}</td>
                    <td class="px-6 py-4 w-48">
                        <img class="w-36 h-24 rounded-lg" src="{{ asset(picture.image) }}">
                    </td>
                    <td class="px-6 py-4">
                        <a class="hover:text-red-500 hover:font-bold"
                            href="{{ path('app_picture_edit', {'id': picture.id}) }} ">Modifier</a>
                    </td>
                    <td class="px-6 py-4">
                        <a class="hover:text-red-500 hover:font-bold" type="button" href="{{ path('app_picture_cropped', {id: picture.id}) }}">croppé l'image</a>
                    </td>

                </tr>
                {% else %}
                <tr>
                    <td colspan="5">Aucune présentation à afficher</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex justify-between">
        <button
            class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center mt-5"><a
                href="{{ path('app_picture_new', {'id': exhibition.id}) }}">Ajouter une nouvelle oeuvre</a>
        </button>
        <button
            class="text-white bg-accentcolor hover:bg-yellow-200 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center mt-5"><a
                href="{{ path('app_exhibition_index') }}">Retour aux expositions</a>
        </button>
    </div>
</div>
{% endblock %}
