{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Presentation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ presentation.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ presentation.subtitle }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ presentation.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_presentation_index') }}">back to list</a>

    <a href="{{ path('app_presentation_edit', {'id': presentation.id}) }}">edit</a>

    {{ include('admin/presentation/_delete_form.html.twig') }}
{% endblock %}
